@import '/themes/default/variables';
@import '/themes/default/styles';

$navbar-height: 60px;
$navbar-default-toggle-hover-bg: rgba(0,0,0,0.1);
$navbar-default-toggle-icon-bar-bg: #4564E2;
$navbar-default-toggle-border-color: rgba(0,0,0,0.1);
