{% extends "error.html" %}
{% load i18n %}

{% block title %}{% trans "Page not found" %}{% endblock %}

{% block error_title %}{% trans "These aren't the droids you're looking for." %}{% endblock %}

{% block error_body %}
<p>
  {% blocktrans trimmed %}
    Sorry, we couldn't find the page you requested. Check the URL for errors
    and try again.
  {% endblocktrans %}
  </p>
  <p>
  {% blocktrans trimmed %}
    If you're still seeing this error, please file a
    <a href="https://www.chameleoncloud.org/user/help/">Help Desk</a>
    ticket so one of our operators can assist you as soon as possible.
  {% endblocktrans %}
  </p>
{% endblock %}
