{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Sorry, something went wrong" %}{% endblock %}

{% block body_id %}splash{% endblock %}

{% block content %}
<div class="container login">
  <div class="row">
    <div class="col-xs-11 col-sm-8 col-md-6 col-lg-5 horizontal-center">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="login-title">{% block error_title %}{% endblock %}</h3>
        </div>

        <div class="panel-body">
          {% block error_body %}
          {% endblock %}
        </div>
        <div class="panel-footer">
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block footer %}
{% endblock %}
